@font-face 
    font-family 'Nova Script'
    src url(/fonts/NovaScript.ttf)

@font-face 
    font-family 'Poppins'
    src url(/fonts/Poppins.ttf)

h1, h2, h3, h4, h5, h6, p, a, button
    font-family 'Poppins'
    font 'Poppins'