.delivery-process 
    display flex
    position relative
    width 100%
    .pic_wrapper
        // display flex
        position relative
        margin-top: 66px
        // justify-content: space-between
        // width 484px
        width 35%
        height 272px
        background-color: purpleCol
        z-index 1
        .blue-stripe_left
            position absolute
            z-index 1
            left 0
        .blue-stripe_right
            position absolute
            z-index 1
            right 0
        .pic
            position absolute
            margin-top: -66px
            z-index 3
            left 39px
    .decs-process
        display block
        width 65%
        position relative
        padding-top 66px
        .text_wrapper
            padding-left 88px
            .subtitle
                font-size: 20px;
                line-height: 30px;
        .steps
            display flex
            position absolute
            bottom 0
            flex 1 1 1
            width 100%
            .step
                position relative
                word-wrap break-word
                width 300px
                text-align: center
                color white
                padding 20px 0
                .number
                    border-radius: 50%
                    background-color: white
                    color black
                    margin 0 auto
                    margin-top: -45px
                    width 50px
                    height 50px
                    padding 14px 0
                    text-align: center
                    font-size: 16px;
                    line-height: 24px;
                .name 
                    display block
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    margin 10px 0
                .desc
                    max-width 190px
                    word-wrap break-word
                    margin 0 auto
                    font-size: 14px;
                    line-height: 21px;
            .step-1
                background-color: purpleCol
            .step-2
                background-color: #37D679
            .step-3
                background-color: yellowCol


