.our-services 
    position relative
    min-height 100vh
    width 100%
    padding 82px 35px
    text-align: center
    .title-background
        position absolute
        top calc(82px - 66px)
        left calc(50% - 286.5px)
        font-weight: 600
        font-size: 90px
        line-height: 135px
        mix-blend-mode: normal;
        opacity: 0.1;
    .subtitle 
        font-size: 20px;
        line-height: 30px;
        
    .desc 
        max-width 1050px
        margin 33px auto
        margin-bottom: 46px
        font-size: 15px;
        line-height: 22px;
        color #858585

    .services
        display grid
        position relative
        width 100%
        height auto
        grid-template-columns 1fr 1fr 1fr;
        grid-gap 46px
        .service 
            display flex
            .pic-wrapper
                position relative
                width 102px
                height 100%
                .pic
                    margin: 0 auto;
            .text-wrapper
                display flex
                flex-direction: column
                justify-content: space-between
                position relative
                margin-left 27.5px
                text-align: left
                .name-service
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    text-transform: uppercase
                    text-align: left

                .desc-service
                    font-size: 15px;
                    line-height: 24px;
                    color #858585
        .service-1
            .pic-wrapper
                background-color: #E2DEFF
                padding 17px 25px
        .service-2
            .pic-wrapper
                background-color: #E2F8D4
                padding 18.5px 22.87px 16.86px 24.5px
        .service-3
            .pic-wrapper
                background-color: #FFE1F0
                padding 21px 20.81px 20.17px 17.5px
        .service-4
            .pic-wrapper
                background-color: #fcfac9
                padding 17px 24.89px 16.14px 26px
        .service-5
            .pic-wrapper
                background-color: #ebebeb
                padding 21.51px 24.5px 20.56px 22.72px
 
        .service-6
            .pic-wrapper
                background-color: #d5f4f8
                padding 28px 16px 25px 18px
                