.start 
    display flex
    position relative
    padding 0 35px
    width 100%
    height 624px
    .navigation
        display flex
        position relative
        flex-direction column
        justify-content space-between
        // width 21%
        width 274px
        height 100%
        .logo 
            margin 37px 0
            font-family 'Nova Script'
            font 'NovaScript'
            font-size 23px
            line-height 28px
            text-transform uppercase
        .nav_panel 
            position relative
            width 100%
            .nav_item
                width 100%
                padding 8px 0
                a 
                    font-weight 500
                    font-size 15px
                    line-height 42px
                    text-transform uppercase
        .social-networks_btns 
            display flex
            position relative
            width 100%
            .social-net_btn
                width 40px
                height 40px
                margin-right: 19px
                border-radius 50%
                box-shadow -5px 9px 8px rgba(0, 0, 0, 0.18)
                .social_icon
                    margin 0 auto
            .facebook_btn
                background linear-gradient(135deg, #C8DCFF 0%, #004ACB 98.16%)
            .google_btn
                background: linear-gradient(144.44deg, #FFB6B6 0%, #F62B19 116.39%);
            .twitter_btn
                background: linear-gradient(138.9deg, #FFFFFF 0%, #00B99E 120.57%);
    .start-pic 
        // width 36%
        width 469px
        height auto
    .right-side 
        // width 45%
        width 623px
        display block
        position relative
        align-items center
        text-align center
        .login-register_btn
            position absolute
            font-size 14px
            line-height 21px
            right 5px
            top 37px
        .we-provide 
            margin-top: 120.5px
            font-weight 600
            font-size 30px
            line-height 45px
            text-align center
            letter-spacing 1px
        .check-order_wrapper
            position relative
            width 330px
            margin 0 auto
            .locate-order-types
                display flex
                position relative
                justify-content center
                width 100%
                .locate-order-type
                    padding 10px 0
                    margin 20px 20px
                    font-size 15px
                    line-height 22px
                    cursor pointer
                .active-locate-type 
                    color purpleCol
                    border-bottom 2px solid purpleCol
            
            .type-order_btns
                .type-order_btn
                    position relative
                    width 155px
                    height 73px
                    border-radius 10px
                    text-align center
                    font-size: 15px
                    line-height: 22px

                    .courier_icon
                        position absolute
                        left 24px
                        top 20px
                    p 
                        margin-left: 33px

                .courier-order
                    background-color purpleCol
                    color white
                .parcel-order
                    background-color: whiteCol

            .your-pincode
                display block
                font-size: 14px
                line-height: 21px
                text-align: left
                margin-top: 8.5px
                margin-bottom: 11px
            .enter-pincode_input
                width 100%
                padding 13px 14px
                background-color: whiteCol
                border-radius: 10px
                margin-bottom: 8px
            .enter-pincode_input::placeholder
                font-size: 13px
                line-height: 19px
                color #ABABAB
            
            .get-quote
                color purpleCol
                font-weight: 500
                font-size: 16px
                line-height: 24px

        .show-orders
            position absolute
            right 0
            bottom 85px
            width 42px
            height 42px
            border-radius 50%
            background-color: purpleCol
            padding 18px 13px
            box-shadow 0px 4px 8px rgba(0, 0, 0, 0.160784)
        .sticker
            display block
            position relative
            width 288px
            height 70px
            padding 19px 0
            margin-left: -135px
            margin-top 40px
            background-color yellowCol
            color white
            .sticker_text
                font-weight: 500;
                font-size: 21px;
                line-height: 31px;
            .stiker_inner 
                position absolute
                bottom 0
                right 0
                width 100%
                height 100%
                background linear-gradient(120deg, transparent 80px, white 80px) right no-repeat 
                background-size 32%
        .arrow_btns
            position absolute
            bottom -7px
            left 0
            margin-left: 27px
        .track-order-truck
            display flex
            position relative
            float right
            margin-top: -20px
            .orange-line
                width 132px
                height 53px
                padding 15px 0
                border-bottom: 2px solid yellowCol
                p 
                    font-size: 15px;
                    line-height: 22px;
            .truck
                margin 0 25px