.track-product
    display block
    position relative
    background url(/images/track-pic.png)
    background-repeat: no-repeat
    height 415px
    width auto
    padding 86px 80px
    .track-product_content
        display block
        position relative
        width 600px
        height 243px
        background-color: rgba(72, 50, 220, 0.6)
        mix-blend-mode: normal;
        border-radius: 15px;
        float right
        padding 0 19px
        border-radius: 10px
        .title
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            margin-top: 30px
            text-transform: uppercase
            color #FFFFFF
            padding 0 18px
            margin-top: 41px

        .title-background
            position absolute
            margin-top: 11px
            font-weight: 500;
            font-size: 50px;
            text-transform: uppercase
            line-height: 75px;
            mix-blend-mode: normal;
            opacity: 0.18;
            top 0
            color #FFFFFF
        .search
            position relative
            width 530px
            height 60px
            margin 10px auto
            padding 8px
            
            border-radius: 10px
            background-color white
            .enter-ID 
                width calc(100% - 133px)
                height 100%
                padding 19px 22px
                font-size: 17px
            .enter-ID::placeholder
                color rgba(133, 133, 133, 1)
                font-size: 15px
            .track_btn
                position absolute
                width 133px
                height 45px
                border-radius: 10px
                background-color: yellowCol
                color white
        .desc
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color white
            padding 0 18px

   

