.track-product
    display block
    position relative
    background url(/images/track-pic.png)
    background-repeat: no-repeat
    height 415px
    width auto
    padding 80px
    .track-product_content
        display block
        position relative
        width 600px
        height 243px
        background-color: purpleCol
        mix-blend-mode: normal;
        opacity: 0.6;
        border-radius: 15px;
        float right
        padding 11px 19px
        .title
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            margin-top: 30px
            text-transform: uppercase
            color #FFFFFF
        .title-background
            position absolute
            font-weight: 500;
            font-size: 50px;
            text-transform: uppercase
            line-height: 75px;
            mix-blend-mode: normal;
            opacity: 0.18;
            top 0
            color #FFFFFF
        .enter-ID 
            width 100%
            height auto
            padding 8px

